@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
#display {
  background-color: black;
  height: 40px;
  width: 300px;
  color: white;
}
#display > p {
  text-align: end;
  margin: 0 5px 0 0;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  line-height: 2;
  z-index: 1000;
}
