@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

#formula {
  height: 40px;
  width: 300px;
  background-color: black;
  color: white;
}
#formula > p {
  text-align: end;
  margin: 0 5px 0 0;
  font-family: "Orbitron", sans-serif;
  font-size: 13px;
  overflow: hidden;
  line-height: 3;
  z-index: 1000;
}
